
<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>CUSTOMER HOME</title>
<link rel="stylesheet" href="customerhome.css">
</head>
<body>
<header>
<nav>
	<div class="logo">
		<h4>MusicHub</h4>
		<h3>Welcome to Premium Songs..!</h3>
		<br>
		<br>
	</div>	
</nav>
	<!-- <form action="playsongs">
	<input type="submit" value="PLAY SONGS">
	 </form>-->

<div th:unless="${ispremium}" class="non-premium">
	<form action="pay">
		<input type="submit" value="GET PREMIUM">
	</form>
	<br>
	<form action="logout">
		<input type="submit" value="LOGOUT">
	</form>
</div>

<div class="container">
<div th:if="${ispremium}" class="premium">
	<table>
			<thead>
				<tr>
					<th>Name</th>
					<th>Artist</th>
					<th>Generic</th>
					<th>Play</th>
				</tr>
			</thead>
			
			<tbody>
				<tr th:each="s:${songs}">
				<td th:text="${s.name}"></td>
				<td th:text="${s.artist}"></td>
				<td th:text="${s.generic}"></td>
				
				<td>
					<audio controls>
						<source th:src="${s.link}">
					</audio>
				 </td>
				 
				</tr>
			</tbody>
	</table>
	</div>
</div>
</header>
</body>
</html>
