<!DOCTYPE html>
<html>
<head>
<title>Index Page</title>
<link rel="stylesheet" href="index.css">
</head>
<body>
<header>
	<nav>
		<div class="logo">
			<h4>MusicHub</h4>
		</div>
		<div class="menu">
			<a href="#">Home</a>
			<a href="#">Search</a>
			<a href="#">Your Library</a>
		</div>
		<div class="signup">
			<a href="#">SignUp</a>
		</div>
	</nav>
		<section class="h-txt">
		<span>Enjoy</span>
		<h3>All Music Is Beautiful</h3>
			<form action="register">
			<input type="submit" value="REGISTRATION">
			</form><br><br>
	
			<form action="login">
			<input type="submit" value="LOGIN">
			</form>
		</section>	
</header>
</body>
</html>