<!DOCTYPE html>
<html>
<head>
<title>Registration Page</title>
<link rel="stylesheet" href="registration.css">
<link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>
<body>
<header>
<div class="container">
	<div>
	</div>
	<form action="/register" method="post">
		<h2 align="center"> Registration Form</h2>
		
		<div class="input-box">
		<label>UserName:</label>
		<input type="text" name="username"/><br>
		<i class='bx bxs-user'></i>
		</div>
		
		<div class="input-box">
		<label>Email:</label>
		<input type="Email" name="email"/><br>
		<i class='bx bxs-envelope'></i>
		</div>
		
		<div class="input-box">
		<label>Password:</label>
		<input type="Password" name="password"/><br>
		 <i class='bx bxs-lock-alt'></i>
		</div>
		
		<div class="gender">
		<label>Gender:</label><br>
		<input type="radio" value="male" name="gender"/>
		<label>Male</label>
		<input type="radio" value="female" name="gender"/>
		<label>Female</label>
		<input type="radio" value="other" name="gender"/>
		<label>Other</label><br><br>
		</div>
		
		<div class="role">
		<label>Role:</label><br>
		<input type="radio" value="admin" name="role"/>
		<label>Admin</label>
		<input type="radio" value="customer" name="role"/>
		<label>Customer</label><br><br>
		</div>	
		
		<div class="text-box">
		<label>Address:</label><br>
		<textarea name="address"></textarea><br><br>
		</div>
		<div class="signup">
		<input type="submit" value="submit">
		</div>
	</form>
</div>
</header>
</body>
</html>